@model IEnumerable<MakeupStore.App.Models.Location>

@{
    ViewData["Title"] = "Index";
}

<h4>All Locations:</h4>

<div class="text-center">
    <p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LocationName)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LocationName)
                        </td>
                       
                    </tr>
                }
            </tbody>
        </table>
    </p>
</div>
