<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/cf04fc6c-8a5d-4fb8-8754-57dc9fcd78c9/resourceGroups/sql-training-rg/providers/Microsoft.Web/sites/juarez1902proj1</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://juarez1902proj1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>juarez1902proj1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>juarez1902proj1</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$juarez1902proj1</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>