@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To My Makeup Shop!!</h1>
    <img src="https://djx5h8pabpett.cloudfront.net/wp-content/uploads/sites/4/2018/08/30092323/NYX2-1024x683.jpg" width="650" />
</div>
